.author{
font-size: medium;
font-weight: 500;
margin: 0px;
}

.description{
    font-size: small;
    font-weight: 400;
    margin: 0.2rem;
    margin-bottom: 0.5rem;
}

.booklist-item {
    break-inside: avoid-column;
}

.edit-button{
    background-color: rgb(27, 220, 27);
}

.delete-button{
    background-color: rgb(240, 38, 38);
    position: relative;
    left: 4.5rem;
}

.delete-button, .edit-button {
    cursor: pointer;
    border-radius: 1rem;
    padding: 0.2rem 0.5rem;
    margin-bottom: 0.8rem;
}

#booklist{
    column-count: 4;
}